@{
    ViewData["Title"] = "Home Page";
}
<meta charset="utf-8" />
<link href="~/css/site.css"/>
<style type="text/css">
   
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <img id="img1" src="~/Photos/20220715_142934.jpg" /> <br />
    <img id="img1" src="~/static/20220715_142934.jpg" />
</div>